*{margin: 0; padding: 0; box-sizing: border-box}
ul,li{list-style: none}
a{text-decoration: none; color: white}
span{color: darkgoldenrod}
img{width: 300px; height: 130px}

.video{width: 100%; height: 600px; overflow: hidden; position: relative; text-align: center}

.inner::after{content: ''; display: block; clear: both}
.cf::after{content: ''; display: block; clear: both}
.cf{*zoom: 1}

#header{width: 100%; height: 100px; background-image: url(/barber/img/bg.png); background-size: 100%; background-position: center; z-index: 1}
#header .inner{width: 1180px; margin: 0 auto}

#header .logo{width: 200px; height: 100px}
#header .logo img{width: 200px; height: 100px}

#header span:hover{color: white; transition: 0.5s}
#header span::after{content: ''; display: block; width: 75px; border-bottom: 1px solid darkgoldenrod; margin: 2px auto}

#header .toggle{display: none}

#header nav{width: 600px; position: absolute; top: 45px; right: 250px; float: right; z-index: 10}

#gnb{width: 100%}

#gnb>li{float: left; width: auto; text-align: center; position: relative}
#gnb>li>a{display: block; width: 100%; padding: 0px 20px; font: bold 10px/20px 'arial'; letter-spacing: 1px; color: white; transition: 0.5s}
#gnb li:hover a{color: darkgoldenrod}

#gnb>li>.sub{width: 150px; position: absolute; left: 10px; text-align: center; background: rgba(0, 0, 0, 0.7); border-radius: 2px; opacity: 0; visibility: hidden; transform: translateY(50px); transition: 0.5s}
#gnb>li.on>.sub{opacity: 1; visibility: visible; transform: translateY(0px)}

#gnb>li>.sub>li{width: 100%; line-height: 40px}
#gnb>li>.sub>li>a{display: block; width: 100%; font: 16px/40px 'arial'}

#header .box{width: 200px; height: 50px; position: absolute; top: 30px; right: 0px; border: 1px solid darkgoldenrod; border-radius: 1px; text-align: center; transition: 0.5s}
#header .box>p{font: 13px/50px 'arial'; color: white; letter-spacing: 1px}

#header .box:hover{background: white}
#header .box:hover a{color: darkgoldenrod}

.video h2{width: 100%; font: bold 50px 'arial'; top: 250px; position: absolute; color: white; letter-spacing: 1px}
.video p{width: 100%; font: bold 20px 'arial'; position: absolute; top: 330px; letter-spacing: 2px}

.video a{transition: 0.5s}
.video a:hover{color: black}

#content1{width: 100%; height: 500px; background: black; padding: 100px 0px; text-align: center}
#content1 .inner{width: 1180px; margin: 0 auto}

#content1 .title{font: bold 50px 'arial'; color: white; margin-bottom: 50px}
#content1 .title::after{content: ''; display: block; width: 50px; border-bottom: 2px solid darkgoldenrod; margin: 2px auto}

#content1 p{font: 18px 'arial'; color: white}
#content1 .text{opacity: 0.5}
#content1 .auto{width: 300px; height: 130px; margin: 0px auto; margin-top: 20px}

#content2{width: 100%; height: 500px; background-image: url(/barber/img/bg.png); background-size: 100%; background-position: center; background-repeat: no-repeat}
#content2 .inner{width: 1180px; margin: 0 auto}

#content2 .box{width: 100%; height: 500px; position: relative; margin-left: -500px; opacity: 0}
#content2 .box::after{content: ''; display: block; clear: both}
#content2 .mini_box{float: left; width: 50%; height: 500px; padding: 90px 90px}

#content2 .mini_box:last-of-type{background-image: url(/barber/img/barber2.png); background-size: cover; background-position: center}

#content2 .title{font: bold 35px 'arial'; color: white; margin-bottom: 60px}
#content2 .title::after{content: ''; display: block; width: 50px; border-bottom: 1px solid darkgoldenrod; margin: 3px}

#content2 p{font: italic 18px 'arial'; color: white; margin-bottom: 20px}
#content2 .sub{font: italic 14px 'arial'}

#content2 .sub_name{font: bold 25px 'arial'; color: white}
#content2 .job{font: bold 16px 'arial'; color: darkgoldenrod}

#content3{width: 100%; height: 500px; margin: 0 auto}

#content3 .slide{overflow: hidden; height: 500px; position: relative}
#content3 .slide::after{content: ''; display: block; clear: both}
#content3 .slide li{width: 100%; height: 500px; opacity: 0; position: absolute}
#content3 .slide li div{width: 100%; height: 100%; background-size: cover; background-position: center; position: relative}

#content3 .btn{text-align: center}
#content3 .btn button{margin-top: 10px; border: 1px solid black; color: white; background: black; font-size: 2.5rem; margin: 5px; cursor: pointer; transition: 0.3s}
#content3 .btn button:hover{color: darkgoldenrod}

#content4{width: 100%; height: 700px; padding: 80px; background: black}
#content4 .inner{width: 1180px; margin: 0 auto}

#content4 h2{font: bold 40px 'arial'; color: white; text-align: center; margin-bottom: 50px}
#content4 h2::after{content: ''; display: block; width: 50px; border-bottom: 2px solid darkgoldenrod; margin: 10px auto}

#content4 .box{float: left; width: 380px; height: 420px; background: white; margin-right: 20px; background-image: url(/barber/img/bg.png); background-position: center; background-size: cover; text-align: center; position: relative; margin-left: -300px; opacity: 0}
#content4 .box:last-of-type{margin-right: 0px}

#content4 .box .img{width: 100%; height: 200px}
#content4 img{width: 100%; height: 200px}

#content4 h3{font: bold 30px 'arial'; color: white; margin-bottom: 20px; margin-top: 30px}
#content4 p{font: 18px 'arial'; color: white; padding: 40px}

#content4 .round{width: 50px; height: 50px; position: absolute; top: 175px; left: 160px; border-radius: 100%; background: white; font-size: 20px; line-height: 50px; background: darkgoldenrod; color: white; transition: 0.5s}
#content4 .round:hover{background: white}
#content4 .round:hover i{color: black}

#content5{width: 100%; height: 500px; background-image: url(/barber/img/bg.png); padding: 100px 100px}
#content5 .inner{width: 1180px; margin: 0 auto}

#content5 .sub_navi{float: left; width: 25%; text-align: center; font: bold 40px 'arial'; color: white; position: relative}
#content5 .sub_navi::after{content: ''; display: block; width: 70px; border-bottom: 2px solid darkgoldenrod; margin: 5px auto; position: absolute; top: 50px; left: 110px}

#content5 .email{text-decoration: underline}

#content5 .sub_navi li{width: 100%; height: 50px; margin-top: 15px}
#content5 .sub_navi li a{display: block; font: 16px/50px 'arial'; color: rgb(255, 255, 255); transition: 0.2s}
#content5 .sub_navi li:hover a{color: darkgoldenrod}

#content5 .view{width: 250px; height: 50px; margin: 0 auto; border: 1px solid darkgoldenrod; position: relative}
#content5 .view .icon{position: absolute; width: 50px; height: 48px; background: darkgoldenrod; right: 0px; color: white; transition: 0.5s}
#content5 .view .icon:hover{background: black; color: goldenrod}

#content5 input{font: italic 15px/50px 'arial'; margin-right: 80px; background: transparent; border: 0}

iframe{!important}

#footer{width: 100%; height: 100px; background: black}
#footer .inner{width: 1180px; margin: 0 auto}

#footer .box{float: left; width: 50%; height: 100px; padding: 40px}
#footer p{font: 15px 'arial'; color: white}

#footer ul{width: 300px; float: right}
#footer ul li{float: left; width: 25%; text-align: center}
#footer a{font-size: 25px; transition: 0.3s}
#footer a:hover{color: goldenrod}

.navbar{position: fixed; z-index: 10; top: 50%; right: 50px; transform: translateY(-50%)} /* #navbar의 위치가 스크롤시에도 고정되도록 position: fixed 하고 수직센터링 한다. */
.navbar .nav-menu{margin: 0; padding: 0; list-style-type: none} /* ul의 list-style-type을 없애고, li의 위치를 조정한다. */
.navbar .nav-menu li{position: relative; min-width: 200px; text-align: right}
.navbar .nav-menu li .dot{display: block ; color: #fff; padding: 5px 0}

.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after{
    display: block; position: absolute; content: ''; border-radius: 50%; top: 50%; transition: all .3s ease
}

.navbar .nav-menu li .dot::before{width: 5px; height: 5px; right: 0; border: 2px solid white; transform: translateY(-50%)}
.navbar .nav-menu li .dot::after{width: 15px; height: 15px; border: 2px solid darkgoldenrod; right: -5px; transform: translateY(-50%) scale(0)}

.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before{
    background: darkgoldenrod; border-color: white
}

.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after{
    transform: translateY(-50%) scale(1)
}

.navbar .nav-menu li .dot span{ /* span은 .active가 붙었을 때와 hover 상태일 때 opacity: 1 이 되도록 하고 그렇지 않을 땐 숨긴다. */
    display: inline-block; opacity: 0; font-weight: 700; letter-spacing: 2px; text-transform: capitalize; background-color: darkgoldenrod; padding: 10px 20px; border-radius: 3px; margin-right: 30px; transform: translateX(20px); transition: all .3s ease; color: white
}

.navbar .nav-menu li .dot span::before{
    display: block; position: absolute; content: ''; border-left: 7px solid white; border-top: 7px solid transparent; border-bottom: 7px solid transparent; top: 50%; transform: translate(7px,-50%); right: 0; transition: all .3s ease
}

.navbar .nav-menu li .dot.active span,
.navbar .nav-menu li:hover .dot span{
    transform: translateX(0px); opacity: 1
}

@media screen and (max-width: 1024px){
    #header{display: block}
    #header .inner{width: 100%}
    
    #header nav{width: 600px; left: 200px}

    #content1 .inner{width: 100%}
    
    #content2 .inner{width: 100%}
    #content2 .mini_box{padding: 60px}
    
    #content4 .inner{width: 100%}
    #content4 .box{width: 235px; height: 460px}
    
    #content5{height: 750px}
    #content5 .inner{width: 100%}

    #content5 .sub_navi{width: 50%; margin-bottom: 2%}
    #content5 .sub_navi::after{width: 150px}
    
    #footer .inner{width: 100%; margin: 0 auto}
}

@media screen and (max-width: 768px){
    #header nav{position: fixed; left: -100%; top: 0px; width: 300px; height: 100%; padding-top: 80px; background: #444; transition: 0.5s}
    #header nav.on{left: 0%}
    
    #header .toggle{display: block; position: fixed; color: white; font-size: 50px; position: absolute; top: 20px; right: 210px; cursor: pointer; transition: 0.3s}
    #header .toggle:hover{color: darkgoldenrod}
    
    #gnb>li{width: 100%}
    #gnb>li>a{padding: 0px}
    #gnb>li.on>a{background: darkgoldenrod; color: #444}
    
    #gnb>li>.sub{width: 100%; height: 0px; position: static; border-radius: 0px; opacity: 1; visibility: visible; transform: translateY(0px); overflow: hidden; transition: 0.5s}
    #gnb>li.on>.sub{height: 150px}
    
    #content1 .auto{margin-top: 0px}
    
    #content2 .box{width: 100%; height: 500px; position: relative; margin-left: -500px; opacity: 0}
    #content2 .mini_box{width: 100%; padding: 90px 90px}
    
    #content3{height: auto; overflow: hidden}
    
    #content4{width: 100%; height: auto; overflow: hidden}
    #content4 .box{width: 100%; height: auto}
    
    #content5{height: 750px; overflow: hidden}
    #content5 .inner{width: 100%}
    
    #content5 .sub_navi{width: 50%; margin-bottom: 2%}
    #content5 .sub_navi::after{width: 50px}
}