*{margin: 0; padding: 0; box-sizing: border-box}
ul,ol{list-style: none}
a{text-decoration: none}

.inner::after{content: ''; display: block; clear: both}
.cf::after{content: ''; display: block; clear: both}
.cf{*zoom: 1}

#header{width: 100%; height: 80px; position: fixed; z-index: 5}
#header .inner{width: 90%; margin: 0 auto; position: relative}

#header .logo{width: 180px; height: 80px; text-align: center}
#header .logo a{font: bold 38px/80px 'arial'; color: white}

#header nav{width: 600px; position: absolute; top: 35px; left: 900px}

#header.activated{
  background-color: #333333;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


#gnb{width: 100%}
#gnb>li{float: left; width: 16.666%; text-align: center; position: relative}
#gnb>li>a{display: block; width: 100%; font: bold 15px 'arial'; color: white}

#gnb>li>.sub{width: 150px; position: absolute; left: 10px; text-align: center; background: rgba(0, 0, 0, 0.7); border-radius: 2px; opacity: 0; visibility: hidden; transform: translateY(50px); transition: 0.5s}
#gnb>li.on>.sub{opacity: 1; visibility: visible; transform: translateY(0px)}

#gnb>li>.sub>li{width: 100%; line-height: 40px}
#gnb>li>.sub>li>a{display: block; width: 100%; font: 16px/40px 'arial'; color: white}

#header .box{position: absolute; top: 30px; right: 0px; font-size: 25px; letter-spacing: 10px}
#header .box>a{color: white; transition: 0.3s}
#header .box a:hover{color: black}

#visual{width: 100%; height: 800px; margin: 0 auto}

#visual .slide{overflow: hidden; height: 800px; position: relative}
#visual .slide::after{content: ''; display: block; clear: both}
#visual .slide li{width: 100%; height: 800px; opacity: 0; position: absolute}
#visual .slide li div{width: 100%; height: 100%; background-size: cover; background-position: center; position: relative}

#visual .video{width: 100%; height: 600px; overflow: hidden; position: relative; text-align: center}
#visual .video h2{width: 100%; font: bold 20px 'arial'; top: 200px; position: absolute; color: white; letter-spacing: 1px}
#visual .video h1{width: 100%; font: bold 100px 'arial'; top: 250px; position: absolute; color: white; letter-spacing: 1px}
#visual .video p{width: 50%; font: 20px 'arial'; position: absolute; top: 400px; left: 500px; letter-spacing: 2px; color: white}
#visual .video .view{width: 200px; height: 50px; position: absolute; background: white; bottom: 250px; left: -550px}
#visual .video .view:hover{background: goldenrod}
#visual .video .view:hover a{color: white}
#visual .video .view a{display: block; font: 14px/50px 'arial'; color: black; cursor: pointer; transition: 0.3s}

#visual div h2{width: 100%; font: bold 20px 'arial'; top: 200px; position: absolute; color: white; letter-spacing: 1px; text-align: center}
#visual div h1{width: 100%; font: bold 100px 'arial'; top: 250px; position: absolute; color: white; letter-spacing: 1px; text-align: center}
#visual div p{width: 50%; font: 20px 'arial'; position: absolute; top: 400px; left: 500px; letter-spacing: 2px; color: white; text-align: center}
#visual div:last-of-type .view{width: 200px; height: 50px; position: absolute; background: white; bottom: 250px; left: 850px; text-align: center}
#visual div .view a{display: block; font: 14px/50px 'arial'; color: black; cursor: pointer; transition: 0.3s}

#visual div:last-of-type .view:hover{background: goldenrod}
#visual div:last-of-type .view:hover a{color: white}

#visual .btn button{display: block; color: white; font-size: 60px; cursor: pointer; transition: 0.3s; position: absolute; top: 40%; background: transparent; border: 1px solid transparent}
#visual .btn button:nth-of-type(2){right: 0px}

#visual .btn button:hover{color: black}

#content1{width: 100%; margin-top: 100px}
#content1 .inner{width: 1180px; margin: 0 auto}

#content1 .box{width: 100%; height: 500px; opacity: 0}
#content1 .mini_box{float: left; width: 50%; height: 500px; transition: 0.3s}

#content1 .mini_box:nth-of-type(1){padding: 30px}
#content1 .mini_box:nth-of-type(2){height: 500px}
#content1 .mini_box:nth-of-type(2):hover{opacity: 0.8}

#content1 h2{font: bold 40px 'arial'; color: black; margin-bottom: 20px}
#content1 p{font: 17px 'arial'; color: gray}

#content1 .view_box{float: left; width: 150px; height: 50px; border: 1px solid #cccccc; text-align: center; margin-right: 20px; margin-top: 50px; transition: 0.3s}
#content1 .view_box:nth-of-type(1){background: #333333}
#content1 .view_box a{display: block; font: 13px/50px 'arial'; color: white; letter-spacing: 2px}
#content1 .view_box:nth-of-type(2) a{color: black}

#content1 .view_box:hover{background: goldenrod}
#content1 .view_box:hover:nth-of-type(1){background: goldenrod}
#content1 .view_box:hover:nth-of-type(2) a{color: white}

#content1 .img{float: left; width: 250px; height: 400px; background-image: url(/bakery/img/bakery2.jpg); margin-right: 20px; background-size: cover; background-position: center}
#content1 .img:last-of-type{margin-right: 0px; background-image: url(/bakery/img/bakery3.jpg)}

#content2{width: 100%}
#content2 .inner{width: 98%; margin: 0 auto}
#content2 .box{float: left; width: 600px; height: 600px; background-size: cover; background-position: center; margin-right: 20px; padding: 150px; text-align: center; opacity: 0; margin-left: -500px}
#content2 .box:nth-of-type(1){background-image: url(/bakery/img/bakery4.jpg)}
#content2 .box:nth-of-type(2){background-image: url(/bakery/img/bakery5.jpg)}
#content2 .box:last-of-type{margin-right: 0px; background-image: url(/bakery/img/bakery6.jpg)}

#content2 .box h2{font: bold 40px 'arial'; color: white}
#content2 .box p{font: 16px 'arial'; color: white; margin-bottom: 50px}
#content2 .box .view{width: 200px; height: 50px; border: 1px solid white; margin: 0 auto; transition: 0.3s}
#content2 .box .view:hover{background: goldenrod}
#content2 .box .view a{font: 16px/50px 'arial'; color: white}

#content3{width: 100%}
#content3 .inner{width: 1180px; margin: 0 auto}

#content3 .box{width: 100%; height: 500px; margin-top: 100px}
#content3 .mini_box{float: left; width: 50%; height: 500px}
#content3 .mini_box:nth-of-type(1){background-image: url(/bakery/img/bakery7.jpg); background-size: cover; background-position: center}
#content3 .mini_box:nth-of-type(2){padding: 80px; height: 500px}

#content3 h2{font: bold 34px 'arial'}
#content3 p{color: gray}

#content3 .email{width: 450px; height: 50px; border: 1px solid gray; margin-top: 50px; position: relative}
#content3 .email input{font: 16px/50px 'arial'; margin-left: 20px; border: 0; background: transparent}

#content3 .join{position: absolute; width: 90px; height: 50px; background: #232323; right: 0px; top: 0px; text-align: center; font: 12px/50px 'arial'; color: white; letter-spacing: 2px; transition: 0.3s}
#content3 .join:hover{background: goldenrod}

#content4{width: 100%; height: 500px; background-image: url(/bakery/img/bakery8.jpg); background-size: cover; background-position: center; background-attachment: fixed; margin-top: 100px}
#content4 .inner{width: 1180px; margin: 0 auto; padding: 100px; text-align: center}

#content4 h2{font: bold 40px 'arial'; color: white; margin-bottom: 40px}
#content4 p{width: 500px; font: 18px 'arial'; color: white; margin: 0 auto}
#content4 .read{width: 200px; height: 60px; border: 1px solid white; margin: 0 auto; margin-top: 50px; transition: 0.3s}
#content4 .read:hover{background: goldenrod}
#content4 .read>a{font: 14px/60px 'arial'; color: white; letter-spacing: 2px}

#content5{width: 100%; margin-top: 100px}
#content5 .inner{width: 1180px; margin: 0 auto}

#content5 .box{width: 100%; height: 500px; opacity: 0}
#content5 .mini_box{float: left; width: 50%; height: 500px; transition: 0.3s}
#content5 .mini_box:hover{opacity: 0.9}
#content5 .mini_box:nth-of-type(1){padding: 30px}
#content5 .mini_box:nth-of-type(2){height: 500px}

#content5 h2{font: bold 40px 'arial'; color: black; margin-bottom: 20px}
#content5 p{font: 17px 'arial'; color: gray}

#content5 .view_box{float: left; width: 150px; height: 50px; border: 1px solid #cccccc; text-align: center; margin-right: 20px; margin-top: 50px; transition: 0.3s}
#content5 .view_box:hover{background: goldenrod}
#content5 .view_box:nth-of-type(1){background: #333333}
#content5 .view_box:hover:nth-of-type(1){background: goldenrod}
#content5 .view_box a{display: block; font: 13px/50px 'arial'; color: white; letter-spacing: 2px}
#content5 .view_box:nth-of-type(2) a{color: black}
#content5 .view_box:hover:nth-of-type(2) a{color: white}

#content5 .img{float: left; width: 250px; height: 400px; background-image: url(/bakery/img/bakery9.jpg); margin-right: 20px; background-size: cover; background-position: center}
#content5 .img:last-of-type{margin-right: 0px; background-image: url(/bakery/img/bakery10.jpg)}

#content6{width: 100%; background: #232323}
#content6 .inner{width: 90%; margin: 0 auto}

#content6 .box{float: left; width: 380px; height: 360px; margin-right: 30px; padding: 50px}
#content6 .box:last-of-type{margin-right: 0px}

#content6 .box h2{font: bold 60px 'arial'; color: white; margin-bottom: 20px}
#content6 .box p{font: 15px 'arial'; color: white; margin-bottom: 40px}
#content6 .box i{margin-right: 20px}
#content6 .box a{color: white; transition: 0.3s}
#content6 .box i:hover{color: black}

#content6 .box h3{font: 24px 'arial'; color: white; margin-bottom: 30px}
#content6 .email{width: 400px; height: 50px; background: white; position: relative; margin-bottom: 40px}
#content6 .email>input{position: absolute; color: black; font: 14px/50px 'arial'; left: 10px; border: 0; background: transparent}
#content6 .email>a{display: block; width: 100px; height: 50px; position: absolute; background: goldenrod; right: 0px; text-align: center; font: 12px/50px 'arial'; letter-spacing: 2px; transition: 0.3s}
#content6 .email:hover>a{background: rgba(218, 165, 32, 0.7)}

#content6 .box:nth-of-type(4)>p{width: 400px; font: 14px 'arial'}
#content6 span{color: goldenrod}

#footer{width: 100%; height: 80px;background: #181818; margin: 0 auto}
#footer p{font: 15px/80px 'arial'; text-align: center; color: darkgray; letter-spacing: 2px}
#footer i{color: goldenrod}

.navbar{position: fixed; z-index: 10; top: 50%; right: 50px; transform: translateY(-50%)}
.navbar .nav-menu{margin: 0; padding: 0; list-style-type: none}
.navbar .nav-menu li{position: relative; min-width: 200px; text-align: right}
.navbar .nav-menu li .dot{display: block ; color: #fff; padding: 5px 0}

.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after{
    display: block; position: absolute; content: ''; border-radius: 50%; top: 50%; transition: all .3s ease
}

.navbar .nav-menu li .dot::before{width: 5px; height: 5px; right: 0; border: 2px solid #333333; transform: translateY(-50%)}
.navbar .nav-menu li .dot::after{width: 15px; height: 15px; border: 2px solid black; right: -5px; transform: translateY(-50%) scale(0)}

.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before{
    background: black; border-color: white
}

.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after{
    transform: translateY(-50%) scale(1)
}

.navbar .nav-menu li .dot span{
    display: inline-block; opacity: 0; font-weight: 700; letter-spacing: 2px; text-transform: capitalize; background-color: white; padding: 10px 20px; border-radius: 3px; margin-right: 30px; transform: translateX(20px); transition: all .3s ease; color: black
}

.navbar .nav-menu li .dot span::before{
    display: block; position: absolute; content: ''; border-left: 7px solid white; border-top: 7px solid transparent; border-bottom: 7px solid transparent; top: 50%; transform: translate(7px,-50%); right: 0; transition: all .3s ease
}

.navbar .nav-menu li .dot.active span,
.navbar .nav-menu li:hover .dot span{
    transform: translateX(0px); opacity: 1
}

@media screen and (max-width: 1024px){
    #header{width: 100%}
    #header .inner{width: 100%}

    #header nav{left: 200px}

    #visual .video h2{font-size: 20px; top: 150px}
    #visual .video h1{font-size: 50px; top: 200px}
    #visual .video p{top: 300px; left: 250px}
    #visual .video .view{display: none}

    #visual div h1{font: bold 50px 'arial'}
    #visual div p{font: 18px 'arial'; top: 350px; left: 250px}
    #visual div:last-of-type .view{bottom: 250px; left: 400px}
    
    #content1 .inner{width: 100%}

    #content1 .mini_box{width: 100%; height: 400px}
    
    #content1 h2{font: bold 40px 'arial'; color: black; margin-bottom: 20px}
    #content1 p{font: 17px 'arial'; color: gray}

    #content1 .img{width: 100%}
    
    #content2{margin-top: 400px}
    #content2 .inner{width: 100%}
    #content2 .box{width: 100%}
    
    #content3 .inner{width: 100%}

    #content3 .mini_box{width: 100%}
    
    #content4 .inner{width: 100%}
    
    #content5 .inner{width: 100%}

    #content5 .mini_box{width: 100%}

    #content5 .img{width: 100%; height: 300px}
    
    #content6{margin-top: 200px}
    #content6 .inner{width: 100%}
}

@media screen and (max-width: 768px){
    #header{width: 100%}
    #header .inner{width: 100%}

    #header nav{position: fixed; left: -100%; top: 0px; width: 300px; height: 100%; padding-top: 80px; background: #333333; transition: 0.5s}
    #header nav.on{left: 0%}
    
    #gnb>li{width: 100%}
    #gnb>li>a{padding: 10px}
    #gnb>li.on>a{background: goldenrod; color: #444}
    
    #gnb>li>.sub{width: 100%; height: 0px; position: static; border-radius: 0px; opacity: 1; visibility: visible; transform: translateY(0px); overflow: hidden; transition: 0.5s}
    #gnb>li.on>.sub{height: 150px}

    #header .toggle{color: white}
    #header .toggle:hover{color: goldenrod}

    #visual .video h2{font: bold 20px 'arial'; top: 100px}
    #visual .video h1{font: bold 50px 'arial'; top: 150px}
    #visual .video p{font: 15px 'arial'; top: 250px; left: 200px}
    #visual .video .view{display: none}

    #visual div h2{font: bold 20px 'arial'; top: 200px}
    #visual div h1{font: bold 50px 'arial'; top: 250px}
    #visual div p{font: 20px 'arial'; top: 350px; left: 200px}
    #visual div:last-of-type .view{bottom: 250px; left: 300px}

    #visual .btn button{top: 35%}

    #content6 .box{width: 100%}
}